body {
  display: block;
  justify-items: center;
  align-items: center;
  /* tinggi body akan sesuai dengan layar */
  height: 100vh;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to bottom, #f7caca, #93a9d1);
  background-attachment: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
}
.header {
  text-align: center;
  margin-bottom: 2rem;
  h1 {
    font-weight: bolder;
    color: black;
  }
}
.grid-container {
  display: grid;
  gap: 20px;
  justify-items: center; /* Memusatkan item dalam grid */
  align-items: center; /* Memusatkan item dalam grid */
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
  max-width: 1200px;
}
.card-container {
  perspective: 700px;
}
.card {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card:hover {
  transform: rotateY(180deg);
}
.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.front {
  background-color: beige;
}
.back {
  transform: rotateY(180deg);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
  }
}
@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
